.product_item{
    border: solid 1px #fde4e4;
    text-align: center;
    padding: 30px;
    cursor: pointer;
}
.product_img{
    margin-bottom: 20px;
    transition: .4s;
}
.product_img:hover{
    transform: scale(1.2);
}
.product_content{
    color: #212245;
}
.product_content h5 a{
    color: #212245;
    font-size: 1rem;
}
.product_content h5{
    margin-bottom: 30px;
}
.product_price{
    font-weight: 600;
    font-size: 1.2rem;
    color: #fd2020;
}
.addToCart_btn{
    border: none;
    padding: 7px 25px;
    background-color: #fd2020;
    color: #fff;
    border-radius: 5px;
    font-size: .9rem;
}

@media only screen and (max-width:992px){
    .product_content h5 a{
        font-size: .8rem;
    }
    .product_item{
        padding: 20px;
    }
    .addToCart_btn{
        padding: 5px 15px;
        font-size: .7rem;
    }
}
@media only screen and (max-width: 320px) {
    .change{
        margin-top: 1.6rem !important;
    }
    .footerParent{
        justify-content: space-around !important;
    }
    
}